body {
  min-height: 200vh;
}
span.logo {
  padding-left: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.brand-logo {
  color: white;
  padding-left: 15px;
}
.icon {
  font-size: 60px;
  padding-top: 30px;
}
.thin-text {
  font-weight: 300;
}
.thin-text-box {
  font-weight: 300;
  background: rgba(96,125,139,.5);
  padding: 40px;
  border-radius: 10px;
}



.section-header {
  font-weight: 300;
}

.card-content p {
  padding-bottom: 5px;
}

.cta {
  font-weight: 300;
  text-shadow: 2px 2px black;
}

.about a:link {
  color: #e53935;
  background-color: transparent;
  text-decoration: none;
}

.about a:visited {
  color: #e53935;
  background-color: transparent;
  text-decoration: none;
}

.about a:hover {
  color: #d32f2f;
  background-color: transparent;
  text-decoration: underline;
}

.about a:active {
  color: #d32f2f;
  background-color: transparent;
  text-decoration: underline;
}

nav a:link {
  color: #ffebee;
  background-color: transparent;
  text-decoration: none;
}

nav a:visited {
  color: #ffebee;
  background-color: transparent;
  text-decoration: none;
}

nav a:hover {
  color: #ffebee;
  background-color: transparent;
  text-decoration: none;
}

nav a:active {
  color: #ffebee;
  background-color: transparent;
  text-decoration: none;
}

.thin-text-nav {
  font-weight: 300;
  font-size: larger;
  color:#ffebee;
  /* background: rgba(96,125,139,.5); */
  /* padding: 40px; */
  /* border-radius: 10px; */
}

.bullet-list .bullet-item { list-style-type:disc;}
  ul:not(.browser-default) {
    padding-left: 25px;
}

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}